
body{
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600%;
   
}

input[type=text]{
    margin-right: 150px;
    width: %;
    padding: 12px 20px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=datetime-local]{
    margin-right: 150px;
    margin-top: 150px;
    width: %;
    padding: 12px 20px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 1;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 16px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#state{
    margin-right: 600x;
    margin-top: 150px;
    width: %;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

h1.toitle{
    text-align: center;
    font-size: 60px;
}
.toitle{
    font-family: 'Courier New', Courier, monospace;
}